<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPost</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
      {{#if logged_in}}
        <a href="/comment">Leave a comment</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/signin">login</a>
        {{/if}}

    {{{body}}}

      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>



</html>
