<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Document</title>
  </head>
  <body>
    <!-- Login and Signup Section -->
    <section class="forms-section">
      <h1 class="section-title">Welcome Back to the Blog!</h1>
      <div class="forms">
        <!-- Login Form -->
        <div class="form-wrapper is-active">
          <button type="button" class="switcher switcher-login">
            Login
            <span class="underline"></span>
          </button>
          <form class="form form-login">
            <fieldset>
              <legend>Please enter your username and password to login.</legend>
              <div class="input-block">
                <label for="login-username">Username *</label>
                <input id="login-username" type="text" required>
              </div>
              <div class="input-block">
                <label for="login-password">Password *</label>
                <input id="login-password" type="password" required>
              </div>
            </fieldset>
            <button type="submit" class="btn-login">Login</button>
          </form>
        </div>
        <!-- Signup Form -->
        <div class="form-wrapper">
          <button type="button" class="switcher switcher-signup">
            Sign Up
            <span class="underline"></span>
          </button>
          <form class="form form-signup">
            <fieldset>
              <legend>Please enter your, username, password, and password confirmation to sign up.</legend>
              <div class="input-block">
                <label for="signup-username">Username *</label>
                <input id="signup-username" type="text" required>
              </div>
              <div class="input-block">
                <label for="signup-password">Password *</label>
                <input id="signup-password" type="password" required>
              </div>
              <div class="input-block">
                <label for="signup-password-confirm">Confirm password *</label>
                <input id="signup-password-confirm" type="password" required>
              </div>
            </fieldset>
            <button type="submit" class="btn-signup">Continue</button>
          </form>
        </div>
      </div>
    </section>
 
    <script src="js/login.js" type="text/javascript"></script>
    <script>
      // Get all switcher elements
      const switchers = Array.from(document.querySelectorAll('.switcher'));
 
      // Add click event listener to each switcher
      switchers.forEach((item) => {
        item.addEventListener('click', function () {
          // Remove 'is-active' class from all switcher parent elements
          switchers.forEach((item) => item.parentElement.classList.remove('is-active'));
 
          // Add 'is-active' class to the clicked switcher's parent element
          this.parentElement.classList.add('is-active');
 
          // Change the page title based on the active form
          const pageTitle = document.querySelector('.section-title');
          if (this.classList.contains('switcher-signup')) {
            pageTitle.textContent = 'Signup for awesome blog posts';
          } else {
            pageTitle.textContent = 'Welcome Back to the Blogpost!';
          }
        });
      });
    </script>
  </body>
</html>