body {
  color: whitesmoke;
}

.navbar {
  opacity: 0.8;
}

.random-background {
  background-size: cover;
  background-position: center;
  transition: background-image 4s ease-in-out;
}

.row {
  justify-content: space-around;
  margin-top: 10px;
}

.comment {
  background-color: #333;
  color: white;
  border-radius: 10px;
  opacity: 0.8;
}

.form-input {
  background-color: #333;
  border: none;
  opacity: 0.8;
  color: whitesmoke;
}

.btn.btn-primary {
  background-color: #333;
  opacity: 0.8;
  color: whitesmoke;
  border-radius: 10px;
}

.comment-section {
  border: 1px solid #ddd;
  padding: 20px;
}
.comment-section .comment {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0f0e0e;
  border-radius: 5px;
}
.comment-section .comment .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.comment-section .comment .comment-header .comment-author {
  font-weight: bold;
}
.comment-section .comment .comment-header .comment-date {
  color: #888;
  font-size: 0.8rem;
}
.comment-section .comment .comment-content {
  color: #333;
}

.new-comment-form {
  margin-top: 20px;
}
.new-comment-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.new-comment-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}
.new-comment-form button {
  margin-top: 10px;
}